/*#add-section {
  display: none;
}*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: #005f9a;
  color: rgb(55, 255, 0);
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  -webkit-text-stroke: 1px black;
}

button {
  background-color: #d2d603;
  border: 8px solid #a1007c;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 0px black;
}
button:hover { 
  background-color: rgb(39, 98, 63); 
  color: white;
  border-color: #cddc00;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
}
input {
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 4px;
}
textarea {
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 4px;
}
label {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  padding: 20px;
}
.skill-card {
  background-color: #f0f0f0;
  border: 2px solid #ff0000;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
}
.skill-card h3 {
  margin-top: 10px;
}
.progress-bar {
  background-color: #1f03d6;
  border-radius: 4px;
  height: 20px;
  width: 100%;
  margin-top: 10px;
}
.progress-fill {
  background-color: #1eff00;
  height: 100%;
  border-radius: 4px;
}
.skill-card p {
  margin-top: 10px;
  font-size: 14px;
}
.delete-btn {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}